@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #06c167;
    --color-secondary: #19ae66;
  }
}

.btn-primary {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  transition: all 0.4s ease-in-out;
}
.btn-primary:hover {
  background-color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
}
