@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #06c167;
    --color-secondary: #19ae66;
    --color-borderGrey: rgba(0, 0, 0, 0.05);
  }
}
html {
  scroll-behavior: smooth;
}
.primary-color {
  color: var(--color-primary);
}
.btn-primary {
  background-color: var(--color-primary);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  transition: all 0.4s ease-in-out;
}
.btn-primary:hover {
  background-color: var(--color-secondary);
}

.btn-black {
  background-color: #000;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  transition: all 0.4s ease-in-out;
}
.btn-client {
  padding: 10px;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.4s ease-in-out;
}
.btn-black:hover {
  background-color: #1b1b1b;
}
.padding-container {
  padding: 15px 10px;
}

.breadcrumb {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  gap: 5px;
  font-weight: 600;
}

.title-category {
  color: #000;
  /* font-family: Poppins; */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title-product {
  color: #000;
  /* font-family: Roboto; */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.price-product {
  color: #000;
  /* font-family: Roboto; */
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.scan,
.loader-scan {
  position: absolute;
  /* transition: all 2s cubic-bezier(0.445, 0.05, 0.55, 0.95); */
  transition: all 1s cubic-bezier(0.88, 0.02, 0.98, 0.99);

  bottom: 10px;
  /* right: 0px; */
  opacity: 0;
}
.sip,
.loader-sip {
  position: absolute;
  transition: all 2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  bottom: -50px;
  opacity: 0;
}
.scan {
  animation: introScan 1s 0.5s forwards;
}
.sip {
  animation: introSip 2s 0.8s forwards;
}
.loader-scan {
  animation: loadScan infinite 1s 0.5s alternate forwards;
}
.loader-sip {
  animation: loadSip infinite 1s 0.5s alternate forwards;
}
@keyframes introScan {
  from {
    right: 250px;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes introSip {
  from {
    top: -40px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes loadScan {
  from {
    bottom: 30px;
    opacity: 0.5;
  }
  to {
    bottom: -80px;
    opacity: 1;
  }
}
@keyframes loadSip {
  from {
    bottom: -20px;
    opacity: 0.5;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

.order-light {
  transition: all 0.4s ease-in-out;
  animation: lightUp 1s 2 alternate-reverse ease-in-out;
}

@keyframes lightUp {
  0% {
    box-shadow: none;
  }
  25% {
    box-shadow: inset 0px 0px 40px 1px rgba(6, 193, 103, 0.254);
  }
  50% {
    box-shadow: none;
  }
  75% {
    box-shadow: inset 0px 0px 20px 1px rgba(6, 193, 103, 0.254);
  }
  100% {
    box-shadow: none;
  }
}

.mobile-nav {
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: displayNav 0.4s forwards;
  opacity: 0;
  width: 0;
}
.hide-mobile-nav {
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: hideNav 0.5s forwards;
  opacity: 1;
  width: 100%;
}
@keyframes displayNav {
  from {
    opacity: 0;
    width: 0;
  }
  to {
    opacity: 1;
    width: 100%;
  }
}
@keyframes hideNav {
  from {
    opacity: 1;
    width: 100%;
  }
  to {
    opacity: 0;
    width: 0;
  }
}
.animate-items {
  transition: all 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  animation: animateItems 0.8s 0.3s forwards;
  opacity: 0;
}
@keyframes animateItems {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
